@font-face {
	font-family: 'Josefin Slab';
	font-style: normal;
	font-weight: 100 700;
	font-display: 'swap';
	src: url(/josefin-slab-100-700-normal.woff2) format('woff2-variations');
}

@font-face {
	font-family: 'Bentham';
	font-style: normal;
	font-weight: 400;
	font-display: 'swap';
	src: url(/bentham-400-normal.woff2) format('woff2');
}

@import 'tailwindcss';

@theme {
	--default-transition-duration: 0.3s;
	--font-sans: 'Josefin Slab', sans-serif;
	--font-serif: 'Bentham', serif;
	--breakpoint-sm: 28rem;
	--breakpoint-md: 48rem;
	--breakpoint-lg: 64rem;
	--breakpoint-xl: 80rem;
	--breakpoint-2xl: initial;
}

@layer base {
	html {
		@apply bg-[#121212] bg-[url(./assets/images/noise.webp)] text-white antialiased scheme-dark max-[400px]:text-[4vw] min-[1281px]:text-[1.25vw] min-[1920px]:text-[24px];
	}
	a {
		@apply decoration-1 underline-offset-3;
	}
}

@layer components {
	[class*='reveal:'] {
		@apply group-revealed:transition group-revealed:duration-1000 revealed:transition revealed:duration-1000 will-change-[transform,opacity];
	}
}

@utility container {
	@apply mx-auto px-8 xl:px-24;
}

@custom-variant reveal (&.reveal);
@custom-variant revealed (&.revealed);
